<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>NSAppTransporSecurity</key>
	<dict>
		<key>Allow Arbitrary Loads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1185513726385239</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1185513726385239</string>
	<key>FacebookClientToken</key>
	<string>e206cb9788d949869548e707d01312f6</string>
	<key>FacebookDisplayName</key>
	<string>SaveLink</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
